@{
    ViewData["Title"] = "About Joel";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>He frequently performs at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></p>
    <p>Be sure to visit the <a href="https://baconsale.com/" target="_blank">Baconsale</a> Website!</p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/baconsalekate.jpg" height="500"/>
    </a>
</div>
